menu "SHT31 Configuration"

config SHT31_I2C_SDA_GPIO
    int "I2C SDA GPIO number for SHT31"
        range 0 33
        default 17
        help
            GPIO number (IOxx) for I2C SDA.

config SHT31_I2C_SCL_GPIO
    int "I2C SCL GPIO number for SHT31"
        range 0 33
        default 18
        help
            GPIO number (IOxx) for I2C SCL.

config SHT31_I2C_ADDRESS
    hex "I2C SCL GPIO number for SHT31"
        range 0x44 0x45
        default 0x44
        help
            I2C address for SHT31.
endmenu
